@model Infoline.Api.ViewModels.UserInfoViewModel
@{
    ViewData["Title"] = "Users";
}
<div class="row">
    @using (Html.BeginForm("GenerateUsers", "User", FormMethod.Post))
    {
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cinsiyet</th>
                        <th scope="col">Telefon Numarası</th>
                        <th scope="col">Email</th>
                        <th scope="col">Kullancı Adı</th>
                        <th scope="col">Adı</th>
                        <th scope="col">Soyadı</th>
                        <th scope="col">Yaşı</th>
                        <th scope="col">Şehir</th>
                        <th scope="col">Posta Kodu</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Users.Count; i++)
                    {
                        <tr>
                            <td>@Html.TextBox("users[" + @i + "].gender", Model.Users[i].gender, new { @readonly = "readonly" }) </td>
                            <td>@Html.TextBox("users[" + @i + "].cell", Model.Users[i].cell, new { @readonly = "readonly" }) </td>
                            <td>@Html.TextBox("users[" + @i + "].email", Model.Users[i].email, new { @readonly = "readonly" }) </td>
                            <td>@Html.TextBox("users[" + @i + "].username", Model.Users[i].username, new { @readonly = "readonly" }) </td>
                            <td>@Html.TextBox("users[" + @i + "].first", Model.Users[i].first, new { @readonly = "readonly" }) </td>
                            <td>@Html.TextBox("users[" + @i + "].last", Model.Users[i].last, new { @readonly = "readonly" }) </td>
                            <td>@Html.TextBox("users[" + @i + "].age", Model.Users[i].age, new { @readonly = "readonly" }) </td>
                            <td>@Html.TextBox("users[" + @i + "].city", Model.Users[i].city, new { @readonly = "readonly" }) </td>
                            <td>@Html.TextBox("users[" + @i + "].postcode", Model.Users[i].postcode, new { @readonly = "readonly" }) </td>
                        </tr>
                    }
                </tbody>
            </table>
            <input type="submit" value="Kaydet" style="float:left" />
        </div>
    }
</div>